<!-- 
    Goal:
        - to output the information about the selected recipe
-->

<div class="row">
  <div class="col-xs-12">
    <img src = "" alt = "" class = "img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Recipe Name</h2>  
  </div>  
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"> <!-- this is a simple bootstrap class to create a dropDown -->
      <button 
        type = "button" 
        class = "btn btn-primary dropdown-toggle">
        Manage Recipe 
        <span class = "caret"></span>
      </button>
      <ul class = "dropdown-menu">
        <li><a href = "#">Add Ingredients to ShoppingList</a></li>
        <li><a href = "#">Edit Recipe</a></li>
        <li><a href = "#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description:
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
      Ingredients:
    </div>
</div>