
<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class = "list-group">
      <a 
        class = "list-group-item" 
        style = "cursor: pointer"
        *ngFor = "let ingredient of ingredients"> 
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul> 
  </div>
</div>


<!-- 
To display something, we need to go to Shopping-List.component and create an array of ingredients.
*ngFor: 
  - let ingredient: this ingredient is referring to the ingredient's model
  - of ingredients: referring to the list of ingredients object we created in shopping-list.component.ts
 -->