<div class="row">
  <div class="col-xs-12">
    <button class = "btn btn-success">New Recipe</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <a href = "#" 
      class = "list-group-item clearfix" 
      *ngFor = "let recipe of recipes"> <!-- basic for loop to be initiated over the recipes-->
      <div class = "pull-left toHaveOnLeftOfListItem">
        <h4 class = "list-group-item-heading">{{ recipe.name }}</h4>  <!-- String Interpolation which allows us to output our text anywhere in the template-->
        <p class = "list-group-item-text">{{ recipe.description}}</p>
      </div>
      <span class = "pull-right">
        <img 
          [src] = "recipe.imagePath" 
          alt = "{{ recipe.name }}" 
          class = "img-responsive" 
          style = "max-height: 50px;">
      </span>
      <!-- Could have also used string-interpolation... src = "{{recipe.imagePath}}"
        [src] = "recipe.imagePath"  ----- property binding
          alt = "{{ recipe.name }}" ----- string interpolation
      -->
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

<!--
"img-responsive": bootstrap will resize automatically

To replicate for other components:
    <a href = "#" class = "list-group-item clearfix">
      <div class = "pull-left toHaveOnLeftOfListItem">
        <h4 class = "list-group-item-heading">Recipe Name</h4>
        <p class = "list-group-item-text">Description</p>
      </div>
      <span class = "pull-right">
        <img src = "" alt = "" class = "img-responsive" style = "max-height: 50px;">
      </span>
    </a>

    *ngFor: directive that allows us to repeat code in the template; 
    To loop through an array, use "let recipe in recipes" to loop over each recipe in the list of recipes..  
-->
