<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for = "name">Name</label>
          <input type = "text" id = "name" class = "form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for = "amount">Amount</label>
          <input type = "number" id = "amount" class = "form-control">
        </div>  
      </div>
      <div class="row">
          <div class="col-xs-12">
            <button class = "btn btn-success buttonSpace" type = "submit">Add Item</button>
            <button class = "btn btn-danger buttonSpace"  type = "button">Delete Item</button>
            <button class = "btn btn-primary buttonSpace"  type = "button">Clear Item</button>
          </div>
      </div>
    </form>
  </div>
</div>

<!-- form input usually comes with <form action..> however since we are not sending the data to a server, there is no point to use it. -->